@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* Shared Styles */
* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: #f1f1f3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.btn-primary {
  color: rgb(255, 255, 255);
  font-family: Fira Sans;
  font-size: 12.8px;
  font-weight: 600;
  border-radius: 8px;
  background-color: rgb(0, 106, 80);
  padding: 12.09px 24.19px 12.09px 24.19px;
  border: none;
}
.btn-primary:hover {
  color: rgb(0, 106, 80);
  background-color: rgb(255, 255, 255);
  transition: 1s;
}
/* Banner Section starts */

#banner-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
#banner-section .banner-area {
  border-radius: 17.07px;
  background-color: rgb(198, 228, 214);
  display: flex;
  width: 910.66px;
  height: 560px;
  justify-content: space-between;
  align-items: center;
  padding: 71px;
  gap: 45.53px;
}
#banner-section .banner-area .banner-text {
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 20px;
}
#banner-section .banner-area .banner-text .banner-title {
  color: rgba(14, 14, 14, 0.5);
  font-family: Fira Sans;
  font-size: 17.07px;
  font-weight: 500;
}
#banner-section .banner-area .banner-text .banner-description {
  color: rgb(14, 14, 14);
  font-family: Fira Sans;
  font-size: 39.84px;
  font-weight: 700;
}

/* Ends of Banner section */

/* Vision of Future starts */

#vision-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
#vision-section .vision-area {
  width: 1052.66px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
  padding: 100px;
}
#vision-section .vision-area .card-area {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 24px;
}
#vision-section .vision-area .vision-title {
  color: rgb(14, 14, 14);
  font-family: Fira Sans;
  font-size: 28.46px;
  font-weight: 700;
}
#vision-section .vision-area .vision-description {
  color: rgba(14, 14, 14, 0.7);
  font-family: Fira Sans;
  font-size: 11.38px;
  font-weight: 400;
}
#vision-section .vision-area .card {
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
#vision-section .vision-area .card img {
  height: 44.11px;
  width: 44.11px;
}
#vision-section .vision-area .card .card-title {
  color: rgba(14, 14, 14, 0.8);
  font-family: Fira Sans;
  font-size: 14.3px;
  font-weight: 700;
}
#vision-section .vision-area .card .card-description {
  color: rgba(14, 14, 14, 0.7);
  font-family: Fira Sans;
  font-size: 11.38px;
  font-weight: 400;
}
#vision-section .vision-area .card-1 {
  box-sizing: border-box;
  border-radius: 16px;
  background-color: rgba(84, 144, 245, 0.2);
}
#vision-section .vision-area .card-2 {
  box-sizing: border-box;
  border-radius: 16px;
  background-color: rgb(198, 228, 214);
}
#vision-section .vision-area .card-3 {
  box-sizing: border-box;
  border-radius: 16px;
  background-color: rgb(247, 235, 207);
}
#vision-section .vision-area .card .btn-vision-1 {
  background-color: rgb(84, 144, 245);
}
#vision-section .vision-area .card .btn-vision-1:hover {
  color: rgb(84, 144, 245);
  background-color: rgb(255, 255, 255);
  transition: 1s;
}
#vision-section .vision-area .card .btn-vision-2 {
  background-color: rgb(9, 161, 92);
}
#vision-section .vision-area .card .btn-vision-2:hover {
  color: rgb(9, 161, 92);
  background-color: rgb(255, 255, 255);
  transition: 1s;
}
#vision-section .vision-area .card .btn-vision-3 {
  background-color: rgb(255, 194, 57);
}
#vision-section .vision-area .card .btn-vision-3:hover {
  color: rgb(255, 194, 57);
  background-color: rgb(255, 255, 255);
  transition: 1s;
}

/* Quote Section starts here */

#vision-section .vision-area .quote-section {
  width: 100%;
  padding: 25px;
  box-sizing: border-box;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  background-color: rgb(255, 255, 255);
}
#vision-section .vision-area .quote-section .quote::before {
  content: url("../assets/quote-bg.png");
  position: absolute;
  top: -19px;
  z-index: 0;
}
#vision-section .vision-area .quote-section .quote {
  margin: 0;
  position: relative;
  z-index: 1;
}
#vision-section .vision-area .quote-section .quote p {
  color: rgba(14, 14, 14, 0.8);
  font-family: Fira Sans;
  font-size: 11.3832px;
  font-weight: 400;
  line-height: 1.7;
  text-align: left;
}
#vision-section .vision-area .quote-section .quote .vision-advisor h4 {
  color: rgba(14, 14, 14, 0.8);
  font-family: Fira Sans;
  font-size: 14.23px;
  font-weight: 600;
  margin-top: 13px;
}
#vision-section .vision-area .quote-section .quote .vision-advisor p {
  color: rgba(14, 14, 14, 0.6);
  font-family: Fira Sans;
  font-size: 11.38px;
  font-weight: 400;
  text-align: left;
  margin-top: 5px;
}

/* Quote Section Ends */

/* Vision of future ends here */

/* Recent News Starts here */

#news-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1056px;
}
#news-section .news-area {
  display: flex;
  flex-direction: column;
  gap: 17px;
}
#news-section .news-area .news-area-header {
  display: flex;
  flex-direction: column;
  gap: 17px;
}
#news-section .news-area .news-area-header .news-area-heading {
  color: rgb(14, 14, 14);
  font-family: Fira Sans;
  font-size: 28.46px;
  font-weight: 700;
}
#news-section .news-area .news-area-header .news-area-description {
  color: rgba(14, 14, 14, 0.7);
  font-family: Fira Sans;
  font-size: 11.38px;
  font-weight: 400;
}
#news-section .news-area .news-card {
  padding: 30px;
  background-color: rgb(255, 255, 255);
  border-radius: 24px;
}
#news-section .news-area .news-card .news-card-area {
  display: flex;
  gap: 22.77px;
}
#news-section .news-area .news-card .news-card-area .news-image img {
  width: 290.27px;
  height: 217.7px;
  border-radius: 24px;
}
#news-section .news-area .news-card .news-card-area .card-area .news-title {
  color: rgba(14, 14, 14, 0.8);
  font-family: Fira Sans;
  font-size: 22.77px;
  font-weight: 700;
  margin-bottom: 8.54px;
}
#news-section .news-area .news-card .news-card-area .card-area .news-time {
  display: flex;
  gap: 8.5px;
  margin-bottom: 8.54px;
  margin-top: 8.54px;
}
#news-section .news-area .news-card .news-card-area .card-area .news-time p {
  color: rgba(14, 14, 14, 0.7);
  font-family: Fira Sans;
  font-size: 11.38px;
  font-weight: 400;
}
#news-section
  .news-area
  .news-card
  .news-card-area
  .card-area
  .news-description {
  color: rgba(14, 14, 14, 0.7);
  font-family: Fira Sans;
  font-size: 11.38px;
  font-weight: 400;
  margin-bottom: 25.01px;
}
#news-section .news-area .news-card .card-2 {
  flex-direction: row-reverse;
}

/* Recent News Ends here */

/* Donate Section Starts here */

#donate-section {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 56.91px;
}
#donate-section .donate-area {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: 785.44px;
  gap: 25px;
}
#donate-section .donate-area .donate-title {
  color: rgb(14, 14, 14);
  font-family: Fira Sans;
  font-size: 28.458px;
  font-weight: 700;
}
#donate-section .donate-area .donate-description {
  color: rgba(14, 14, 14, 0.7);
  font-family: Fira Sans;
  font-size: 11.38px;
  font-weight: 400;
}
#donate-section .donate-area .donate-fixed {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#donate-section .donate-area .donate-fixed button {
  color: rgba(14, 14, 14, 0.8);
  font-family: Fira Sans;
  font-size: 28.46px;
  font-weight: 700;
  box-sizing: border-box;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  padding: 28.46px;
  background-color: rgb(255, 255, 255);
}
#donate-section .donate-area .donate-fixed button:hover {
  background-color: rgb(198, 228, 214);
  transition: 1s;
}
#donate-section .donate-area .donate-fixed .btn-donate-2 {
  background-color: rgb(198, 228, 214);
}
#donate-section .donate-area .donate-fixed .btn-donate-2:hover {
  background-color: rgb(0, 106, 80);
}
#donate-section .donate-area #manual-donate {
  margin: auto;
  width: 90%;
  padding: 15px;
  text-align: center;
  outline: none;
  border: 0px;
}
/* Donate Section Ends Here */

/* Newsletter Section Starts Here */
#newsletter-section {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 910.66px;
  border-radius: 17.07px;
  background-color: rgb(198, 228, 214);
}
#newsletter-section .newsletter-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 20px;
  padding: 50px;
}
#newsletter-section .newsletter-area .newsletter-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
#newsletter-section .newsletter-area .newsletter-header .newsletter-title {
  color: rgb(14, 14, 14);
  font-family: Fira Sans;
  font-size: 28.46px;
  font-weight: 700;
}
#newsletter-section
  .newsletter-area
  .newsletter-header
  .newsletter-description {
  width: 450px;
  color: rgba(14, 14, 14, 0.7);
  font-family: Fira Sans;
  font-size: 11.92px;
  font-weight: 400;
}
#newsletter-section .newsletter-area form #newsletter-email {
  outline: none;
  width: 533.59px;
  border: 0px;
  padding: 12px 20px;
  border-radius: 7.07px 0px 0px 7.07px;
}
#newsletter-section .newsletter-area form .btn-subscribe {
  margin-left: -70px;
  border-radius: 0px 7.07px 7.07px 0px;
}
#newsletter-section .newsletter-area .newsletter-footer {
  color: rgba(14, 14, 14, 0.7);
  font-family: Fira Sans;
  font-size: 11.92px;
  font-weight: 400;
}
/* Newsletter Section Ends here */
